@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <a class="btn btn-primary" href="/Produtos/Index">Produtos</a>
   <a class="btn btn-warning" href="/Categoria/Index">Categorias</a>
</div>
